@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
:root{
    /* Background Color */
    --bg-danger:#f63440;
    --bg-white:#fff;
    --bg-light-white:#f5f5f5;

        /* Text Color */
    --primary-font:"Poppins", sans-serif;
    --text-white:#fff;
    --text-black:#121212;
    --text-danger:#f63440;
    --text-gray:#aaa;
    --text-dark-gray:#777;
}
body {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background:var(--bg-white);
    color: var(--text-black);
    overflow-x:hidden;
}

/*--------Navbar Css Start---------*/

a,
a:hover{
    text-decoration: none;
}

#header .navbar-nav .nav-item .nav-link{
    color:var(--text-black);
    padding:0.5rem 1rem;
    text-align: center;
}
#header .navbar .container .collapse  .nav-link-custom .left ,
#header .navbar .container .collapse  .nav-link-custom  a{
    color:var(--text-black);
    text-align: right!important;
}
.nav-link-custom .nav-item a,
.nav-link-custom .nav-item .left{
    text-decoration: none!important;
}
.hero{
    font-weight: 200;
    color: blue;
}

/*----------Start Sign Up Css-------------*/
.row .card{
    background: var(--bg-light-white);
}
.form-group .success input{
    border-color:#2ecc71 ;
}
.row .from-control input :focus{

}
.container-fluid .row .card .card-body .form-group input:focus{
    outline: 0;
    border-radius: 10px;
    border-color: #777;
}
.form-group.error input{
    border-color: #f63440;
}
.container-fluid .row .card .card-body button{
    cursor: pointer;
    background-color:#3498db ;
    border: 2px solid #3498db;
    border-radius: 4px ;
    color: #fff;
}
/*-------------- Admin Page Design ---------------*/
.admin .card{
    border: 2px solid brown;
}
.admin .card:hover {
    background: #e2e2e2;
    cursor: pointer;
}


/*------------------------------Index Page Css Design---------------------------*/
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #ff006a;
    border-color: #ffc107;
}
.prise:hover{
    color: #3498db!important;
}
.discount-text{
    font-size: 7px!important;
    font-style: italic!important;
}
.text-secondary{
    font-size: 7px!important;
    font-style: italic!important;
}
span .text-secondary .discount-text{
    font-size: 7px!important;
    font-style: italic!important;
}

/*section{*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*}*/
/*section .contentBx{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*    width: 50%;*/
/*    height: 100%;*/
/*}*/
/*section .contentBx .fromBx{*/
/*    width: 50%;*/
/*}*/
/*section .contentBx .fromBx h2{*/
/*    color: #607d8b;*/
/*    font-weight: 600;*/
/*    font-size:1.5em ;*/
/*    text-transform: uppercase;*/
/*    margin-bottom: 20px;*/
/*}*/




